__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dylib
*.egg-info/
.eggs/
build/
dist/
*.npy
*.npz
.ipynb_checkpoints/
.mypy_cache/
pytest_cache/
.DS_Store
Thumbs.db
forward_model_outputs/
src/mtf_aware_deblurring/forward_model_outputs/
data/
.vs
